
/* For Smaller Screens for Editing Playlist*/
@media only screen and (max-width: 1415px) {
    
    .AppContainer.editing-active .displayAuthorization .loggedIn {
        width: 80%;
        margin-right: 2rem;
    }

    .displayAuthorization  {
        margin: 0rem;
    }
    
    .editingSection {
        min-width: 40%;
    }

    .editingSearch {
        min-width: 40%;
    }

    .trackText h4 {
        font-size: 1.75rem;
    }

    .trackText p#artist {
        font-size: 1.25rem;
    }

    .trackText p#album {
        margin-top: .25rem;
        font-size: 1rem;
    }

    .playlistTitleInfo p {
        font-size: 1.25rem;
    }

    .playlistText h4 {
        font-size: 2rem;
    }

}

/* For Smaller Screens where the columns don't 
fit with tracks and playlists */
@media only screen and (max-width: 1261px) {
    .dashboard-open .main {
        transform: translateX(-90px); /* Adjust width based on the dashboard width */
    }

   /* Dashboard Open Settings */

   .dashboard-open .appStart {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        margin: 0 auto;
        width: 90%

    }
    .dashboard-open .PlaylistsContainer {
        max-width: 50%;
        margin: 0 1rem;
        transform: translateX(100px);
        background-color: #B4ADEA;
    }

    .dashboard-open .search {
        border-top: 5px solid #1E1B18;
        max-width: 50%;
        transform: translateX(100px);
    }

    /*-----------*/
    .dashboardToggle {
        position: fixed;
    }

    .AppContainer.editing-active .displayAuthorization .loggedIn {
        height: 1.25rem;
        padding: .75rem .5rem 1rem .5rem;
    }  
        
    .PlaylistsContainer {
        min-width: 30%;
        margin-left: 1.5rem;
    }

    .search {
        min-width: 30%;
        margin-right: 1.5rem;
    }

    .trackText {
        margin-right: 0rem;
    }

    .trackBlock {
        position: relative;
    }

    .trackBlock #trackButton {
        position: absolute;
        bottom: -.5rem;
        right: 0rem;
        border-bottom-right-radius: 0px;
    }

    /* Editing Playlist UI */
    .editingSection {
        min-width: 50%;
    }

    .editingSearch {
        min-width: 50%;
    }
}

/* For Smaller Screens where the columns don't 
fit with tracks and playlists */
@media only screen and (max-width: 1041px) {
    .AppContainer {
        position: relative;
    }

    .AppContainer.editing-active .displayAuthorization .loggedIn {
        width: 91%;
        height: 1.5rem;
        padding: .75rem 1rem;
    }

     /* Dashboard Open Settings */

     .dashboard-open .appStart {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        margin: 0 auto;
        margin-left: 5rem;
        width: 75%;

     }
      .dashboard-open .PlaylistsContainer,  .dashboard-open .search {
        max-width: 100%;
        margin: 0 5rem;
        transform: translateX(-100px);

    }

    .dashboard-open .search {
        border-top: 5px solid #1E1B18;
        /* max-width: 100%;
        margin: 0 auto;
        transform: translateX(-100px); */
       
    }

    .displayEditingPlaylist {
        width: 91vw;
        border-left: none;
        border-right: none;
        margin: 0 auto;
    }

    .editingSection {
        margin-right: 1rem;
        height: calc(100vh + 20%);
    }

    .editingSearch {
        margin-left: 1rem;
        height: calc(100vh + 20%);
    }
}

/* The smallest of screens */
@media only screen and (max-width: 1000px) {

    .mainAppTitle {
        position: sticky;
        top: 0%;
        background-color: #161514;    
    }

    /* Main Menu */
    .appStart {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: stretch;
        margin: 0 auto;
        width: 100%;
        transform: translateX(0);

    }

    #title-spacer {
        height: 0;
    }

   
    .search, .PlaylistsContainer {
        margin: 0 auto;
        max-width: 45%;
    }

    .AppContainer.editing-active .search {
        display: none;
    }

    #transferToSpotify {
        height: auto;
    }

    .playlistNameInput {
        justify-content: flex-start;
    }

   .trackText h4 {
        font-size: 1.45rem;
    }

    .trackText p#artist {
        font-size: 1.2rem;
    }

    .trackText p#album {
        font-size: 1rem;
    }

    /*  Dashboard Open */

    .dashboard-open .PlaylistsContainer .playlistButtons {
        margin-bottom: .25rem;
    }

    .AppContainer.dashboard-open .mainAppTitle h1 {
        transform: translateX(-155px);
    }

    .dashboard-open #title {
        min-width: 15rem;
    }


    /* Editing Playlist */
    .AppContainer.editing-active .displayAuthorization .loggedIn {
        background-color: #161514;
        width: 100%;
        margin: 0; 
        justify-content: space-between;
    }

    .AppContainer.editing-active .authorizationContainer {
        position: sticky;
        display: flex;
        background-color: #161514;
        width: 100%;
        margin: 0;
        top: 5em !important;
    }

     .AppContainer .authorizationContainer {
        position: sticky;
        display: flex;
        background-color: #161514;
        width: 100%;
        margin: 0;
        top: 5em !important;
    }


    .AppContainer.editing-active .displayEditingPlaylist {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        overflow-y: auto;
        top: 0rem;
    }

    .editingSection, .editingSearch {
        margin: 0 auto;
        width: 100%;
        max-width: 32rem;
        height: calc(100vh + 25%);
    }

    .editingSection {
        border: .15px solid #1E1B18;
    }

    /* .AppContainer.editing-active .large-height {
        margin-bottom: 86rem; /* Adjust as needed for taller element } */

    .editingSearch {
        border: .15rem solid #1E1B18;
    }

    .AppContainer.editing-active .editingMainContainer {
        background-color: #B4ADEA;

    }

    .AppContainer.editing-active .displayTracklist {
        width: 50%;
    }

    .AppContainer.editing-active .searchWithRecentContainer {
        position: relative;
    } 

    .AppContainer.editing-active .recentSearchesContainer {
        position: absolute;
        top: 1.75rem;
        left: 0rem;
        z-index: 1000;
    }
}

/* The smallest of screens */
@media only screen and (max-width: 830px) {
    /* Main Menu */
    .appStart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        margin: 0 auto;
        transform: translateX(0);
    }

    .AppContainer.dashboard-open .mainAppTitle h1 {
        transform: translateX(0);
    }
   
    #title {
        min-width: 5rem;
    }

    .search, .PlaylistsContainer {
        margin: 0 auto;
        width: 40rem;
        min-width: 80%;
    }

      .PlaylistsContainer {
        background-color: #B4ADEA;
        margin-bottom: .5rem;

    }

    .trackText h4, .playlistText h4 {
        font-size: 2rem;
    }

    .trackText p#artist {
        font-size: 1.5rem;
    }

    .trackText p#album {
        font-size: 1rem;
    }

    .playlistTitleInfo p {
        font-size: 1.25rem;
    }

    /* Editing Playlist */
    .AppContainer.editing-active .displayEditingPlaylist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        overflow-y: auto;
        top: 0rem;
    }
}

@media only screen and (max-width: 580px) {
    .loggedIn h2 {
        display: none;
    }

    .AppContainer.dashboard-open .displayAuthorization .loggedIn button {
        transform: translateX(0)
     }

}

/* The mobile screens */
@media only screen and (max-width: 500px) {

    /* .spacer {
    } */

    .dashboardContainer.open .pagination p {
        font-size: .85rem;
        color: black;
    }

    #dashboardText p {
        font-size: 1.15rem;
    }

    .dashboardPlaylist .playlistText {
        position: relative;
        left: -.5rem;
        z-index: 2;
        top: 0;
    }

    .dashboardContainer {
        width: 200px;
    }

    .dashboardProfileImage img {
        width: 100%;
    }

    .usersPlaylist-TitleContainer h3 {
        font-size: 1rem;
    }

    .AppContainer.dashboard-open .dashboardToggle { 
        right: 14.5rem;
    }

    .playlistSectionOne {
        flex-wrap: nowrap;
    }

    .trackText h4, .playlistText h4 {
        font-size: 1.25rem;
    }

    .trackText p#artist {
        font-size: 1rem;
    }

    .trackText p#album {
        font-size: .75rem;
    }

    .playlistTitleInfo p {
        font-size: 1rem;
    }

    .AppContainer.editing-active .editingMainContainer {
        position: sticky;
        top: 0;
        z-index: 3;
    }
    .editingSearch h3, .editingSearch .displaySearchBar {
        position: sticky;
        top:0%;
        z-index: 3;
    }
}
/* 
@media only screen and (max-width: 375px) {
    .dashboardToggle:hover {
        pointer-events: none;
    }

    .mainAppTitle {
        position: fixed;
        top: 0;
        width: 100%;
    }

    #logOut .displayAuthorization {
        position: fixed;
        top: 5em;
        z-index: 1;
        background-color: #161514;
        width: 100%;
    }

} */